*{
    margin: 0;
}
body{
    background-color: #12d3a6;
      font-family: sans-serif;
}
h1{
    text-align: center;
    color: azure;
}
.c{
    margin-top:  -15px;
    grid-area: sidebar;
    background: linear-gradient(to right,blue,blue,blue) ;
    justify-content: center;
    grid-area: content;
    font-size: 1.5em;
    width: 15%;
    height: 125vh;
    display: grid;
    
}
nav{
    margin-top: -15px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
 
nav li{
    list-style: none;
    padding: 1em 0;
}
nav li a{
    color:azure;
    font-weight: 70;
    opacity: 0.6;
    text-decoration:wavy;
    transition: 0.3s;
    opacity: 1;
    
}
input{
    background-color: azure;
    padding: 14px 20px;
    margin:8px 0;
    border: 0 solid black;
    cursor: pointer;
    width: 100%;
    font-size: xx-large;
    font-style: initial;
    
}

button:hover{
    opacity:0.8 ;
}
.table{
    text-align: center;
}